 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
 }
body{
  background-color: #faf5f5;
}
 img {
   width: 100%;
   height: auto;
   display: block;
 }

 /* ======================= */

 :root {
   --primary_color: #000;
   --secondary_color: #FF5555;
 }

 /* =================== */
 body::-webkit-scrollbar {
   width: 4px;
 }

 body::-webkit-scrollbar-track {
   background: #672C2C1F;
 }

 body::-webkit-scrollbar-thumb {
   background-color: var(--secondary_color);
   border-radius: 20px;
 }

 /* ================== */

 .container {
   margin: 0 auto;
   max-width: 1200px; 
   padding: 40px 0px;

 }

 @media (min-width: 1500px) {
   .container {
     max-width: 1500px;
   }
 }
 @media (max-width: 1400px) {
   .container {
     max-width: 1200px;
   }
 }

 @media (max-width: 767px) {
   .container {
     max-width: 90%;
   }

 }

 /*=======================*/